body {
    background: linear-gradient(105.68deg, #101010 0%, rgba(16, 16, 16, 0.88) 98.95%);
}

.home   {
    position: absolute;
    width: 46px;
    height: 22px;
    left: 99px;
    top: 38px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #C74B06;
}

.about {
    position: absolute;
    width: 46px;
    height: 22px;
    left: 189px;
    top: 38px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.work {
    position: absolute;
    width: 40px;
    height: 22px;
    left: 279px;
    top: 38px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.blog {
    position: absolute;
    width: 33px;
    height: 22px;
    left: 363px;
    top: 38px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.contact {
    position: absolute;
    width: 58px;
    height: 22px;
    left: 1282px;
    top: 38px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.welcomeText {
    position: absolute;
    width: 200px;
    height: 41px;
    left: 99px;
    top: 197px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    color: #FFFFFF;
}

.welcomeText2 {
    position: absolute;
    width: 532px;
    height: 54px;
    left: 99px;
    top: 270px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    color: #FFFFFF;
}

.welcomeText3 {
    position: absolute;
    width: 504px;
    height: 85px;
    left: 99px;
    top: 357px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.hreLink {
    color: #C74B06;
}

.lnMore {
    position: absolute;
    width: 95.74px;
    height: 19px;
    left: 99px;
    top: 475px;
    font-size: 18px;
    color: #C74B06;
    font-family: roboto;
}

.profileImg {
    position: absolute;
    width: 397px;
    height: 489px;
    left: 777px;
    top: 183px;
}

.workText {
    position: absolute;
    width: 544px;
    height: 170px;
    left: 99px;
    top: 156px;
    font-family:roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    color: #FFFFFF;
}

.workImg {
    position: absolute;
    width: 320.06px;
    height: 413px;
    left: 793px;
    top: 100px;
}

.workText2 {
    position: absolute;
    width: 450  px;
    height: 19px;
    left: 99px;
    top: 390px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.greySection {
    position: absolute;
    width: 1440px;
    height: 693px;
    left: 0px;
    top: 486px;
    background: linear-gradient(104.67deg, #222222 0%, rgba(34, 34, 34, 0) 74.46%);
}

.ellipse-1 {
    position: absolute;
    position: absolute;
    width: 113px;
    height: 113px;
    left: 99px;
    top: 744px;
    border-radius: 100%;
    background: #101010;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.25);
}

.vector-1 {
    height: 50px;
    width: 50px;
    left: 131px;
    top: 776px;
    border-radius: 0px;
    
    
    position: absolute;
    /* left: 9.24%;
    right: 87.29%; */
    /* top: 66.07%; */
    bottom: 29.69%;
}

.hirelez {
    position: absolute;
    width: 102px;
    height: 41px;
    left: 240px;
    top: 748px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    color: #FFFFFF;
}

.hirelez-p {
    position: absolute;
    width: 217px;
    height: 44px;
    left: 240px;
    top: 805px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.img-2 {
    position: absolute;
    width: 300px;
    height: 205px;
    left: 845px;
    top: 724px;
    background: #C4C4C4;
}

.img-3 {
    position: absolute;
    width: 346px;
    height: 205px;
    left: 963px;
    top: 819px;
    background: #C4C4C4;
    box-shadow: -6px -3px 10px rgba(0, 0, 0, 0.15);
}

.lnMore-2 {
    position: absolute;
    width: 100px;
    height: 19px;
    left: 115px;
    top: 950px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    /* identical to box height */
    color: #C74B06;
}


