

.rectangle-2 {
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #536BEE;
  border-radius: 0px 0px 30px 30px;
  }

img.logo {
  position: absolute;
  width: 71px;
  height: 34px;
  left: 204px;
  top: 35px;
  color: #FFFFFF;
  }

.about-me {
  position: absolute;
  width: 63px;
  height: 17px;
  left: 600px;
  top: 45px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */    
  color: #FFFFFF;
  }

.recent-pro {
  position: absolute;
  width: 99px;
  height: 17px;
  left: 710px;
  top: 45px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #FFFFFF;
}

.gallery  {
position: absolute;
width: 46px;
height: 17px;
left: 855px;
top: 45px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: #FFFFFF;
}

.experiences  {
  position: absolute;
  width: 77px;
  height: 17px;
  left: 950px;
  top: 45px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #FFFFFF;
}

.contact-me {
  position: absolute;
  width: 128px;
  height: 33px;
  left: 1270px;
  top: 35px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  position: absolute;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #536BEE;
}

.title  {
  position: absolute;
  width: 369px;
  height: 36px;
  left: 640px;
  top: 150px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  color: #000;
}

.sub-title  {
  position: absolute;
  width: 380px;
  height: 24px;
  left: 640px;
  top: 200px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.719);
}

.social {
  position: absolute;
  width: 159px;
  height: 24px;
  left: 640px;
  top: 530px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: rgba(83, 107, 238, 0.8);
}

.md-text  {
  position: absolute;
  width: 20%;
  height: 24px;
  left: 640px;
  top: 300px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: rgba(83, 107, 238, 0.8);
}

.para {
  position: absolute;
  width: 47.5%;
  height: 57px;
  left: 640px;
  top: 360px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

.eclipse-1  {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 640px;
  top: 610px;
  border-radius: 50%;
  background: rgba(29, 161, 242, 0.15);
}

.eclipse-2  {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 720px;
  top: 610px;
  border-radius: 50%;
  background: rgba(29, 161, 242, 0.15);
}

.eclipse-3  {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 805px;
  top: 610px;
  border-radius: 50%;
  background: rgba(29, 161, 242, 0.15);
}

.eclipse-4 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 890px;
  top: 610px;
  border-radius: 50%;
  background: rgba(29, 161, 242, 0.15);
}

.fa-twitter {
  position: absolute;
  font-size: 20px;
  left: 656px;
  top: 625px;
  color: #536BEE;
}

.fa-facebook {
  position: absolute;
  font-size: 20px;
  left: 740px;
  top: 625px;
  color: #536BEE;
}

.fa-linkedin {
  position: absolute;
  font-size: 20px;
  left: 822px;
  top: 625px;
  color: #536BEE;
}

.fa-instagram {
  position: absolute;
  font-size: 20px;
  left: 906px;
  top: 625px;
  color: #536BEE;
}


.fidelis  {
  position: relative;
  width: 380px;
  height: 450px;
  left: 204px;
  top: 330px;
  border-radius: 40px;
}

.name {
  position: absolute;
  width: 380px;
  height: 81px;
  left: 204px;
  top: 730px;
  background: linear-gradient(0deg, #536BEE 24.69%, #F7F8FE 100%);
  border-radius: 0px 0px 40px 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  color: #0526e0;
}


.rectangle-6 {
  position: absolute;
  width: 380px;
  height: 400px;
  left: 204px;
  top: 777px;
  background: rgba(83, 107, 238, 0.2);
  border-radius: 0px 0px 40px 40px ;
}

.rectangle-21 {
  position: absolute;
  width: 380px;
  height: 80px;
  left: 204px;
  top: 820px;
  background: rgba(83, 107, 238, 0.2);
}

.email {
  position: absolute;
  width: 305px;
  height: 46px;
  left: 251px;
  top: 839px;
  color: #F8F8F8;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.rectangle-22 {
  position: absolute;
  width: 380px;
  height: 80px;
  left: 204px;
  top: 910px;
  background: rgba(83, 107, 238, 0.2);
}

.phone {
  position: absolute;
  width: 305px;
  height: 46px;
  left: 251px;
  top: 930px;
  color: #F8F8F8;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.rectangle-23 {
  position: absolute;
  width: 380px;
  height: 80px;
  left: 204px;
  top: 1000px;
  background: rgba(83, 107, 238, 0.2);
}

.lang {
  position: absolute;
  width: 305px;
  height: 46px;
  left: 251px;
  top: 1016px;
  color: #F8F8F8;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}


strong {
  color: #536BEE;
  margin-right: 15px;
}

.message  {
  position: absolute;
  width: 139px;
  height: 37px;
  left: 330px;
  top: 1107px;
  background: #536BEE;
  border-radius: 8px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 8px;
}

.btn-txt  {
  position: absolute;
  width: 89px;
  height: 17px;
  left: 470px;
  top: 1170px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #536BEE;
}

.experiences {
  position: absolute;
  width: 109px;
  height: 24px;
  left: 640px;
  top: 750px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: rgba(83, 107, 238, 0.8);
}

.rectangle-8 {
  position: absolute;
  width: 380px;
  height: 430px;
  left: 640px;
  top: 810px;
  background: #536BEE;
  border-radius: 40px;
}

.rectangle-9 {
  position: absolute;
  width: 380px;
  height: 430px;
  left: 1040px;
  top: 810px;
  background: #536BEE;
  border-radius: 40px;
}

.rectangle-10 {
  position: absolute;
  width: 380px;
  height: 430px;
  left: 640px;
  top: 1258px;
  background: #536BEE;
  border-radius: 40px;
}

.rectangle-11 {
  position: absolute;
  width: 380px;
  height: 430px;
  left: 1040px;
  top: 1258px;
  background: #536BEE;
  border-radius: 40px;
}

.rectangle-25 {
  border: none;
  position: absolute;
  width: 184px;
  height: 60px;
  left: 836px;
  top: 1122px;
  background: #FFFFFF;
  border-radius: 35px 0px 0px 35px;
}

.rectangle-26 {
  border: none;
  position: absolute;
  width: 184px;
  height: 60px;
  left: 1238px;
  top: 1122px;
  background: #FFFFFF;
  border-radius: 35px 0px 0px 35px;
}

.rectangle-27 {
  border: none;
  position: absolute;
  width: 184px;
  height: 60px;
  left: 836px;
  top: 1570px;
  background: #FFFFFF;
  border-radius: 35px 0px 0px 35px;
}

.rectangle-28 {
  border: none;
  position: absolute;
  width: 184px;
  height: 60px;
  left: 1238px;
  top: 1570px;
  background: #FFFFFF;
  border-radius: 35px 0px 0px 35px;
}

.exp-txt  {
  position: absolute;
  width: 60%;
  height: 23px;
  left: 45px;
  top: 155px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.exp-para {
  position: absolute;
  width: 299px;
  height: 42px;
  left: 45px;
  top: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.view-more  {
  width: 100%;
  height: 17px;
  text-align: center;
  padding-left: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #536BEE;
}

.exp-vector {
  position: absolute;
  left: 45px;
  top: 55px;
}

.spon-txt {
  position: absolute;
  width: 519px;
  height: 36px;
  left: 180px;
  top: 80px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

.ment {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 180px;
  top: 140px;
}

.ment-hd  {
  position: absolute;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  left: 280px;
  top: 140px;
}

.ment-bd  {
  position: absolute;
  width: 451px;
  height: 38px;
  left: 280px;
  top: 180px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.ment-link  {
  position: absolute;
  width: 121px;
  height: 22px;
  left: 600px;
  top: 260px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  border: none;
  background: transparent;
  color: yellow;
}

.ment-prev  {
  position: absolute;
  width: 49px;
  height: 50px;
  left: 1100px;
  top: 170px;
}

.ment-next  {
  position: absolute;
  width: 49px;
  height: 50px;
  left: 1220px;
  top: 170px;
}

.rectangle-15 {
  position: absolute;
  width: 90%;
  height: 400px;
  left: 0px;
  top: 2400px;
  background: #687FFF;
  box-shadow: 9px 9px 32px rgba(0, 0, 0, 0.25);
  border-radius: 0px 50px 50px 0px;
}

.rectangle-14 {
  position: absolute;
  width: 100%;
  height: 700px;
  left: 0px;
  top: 2600px;
  background: #536BEE;
}

